{{!-- shows all GreenWays --}}
<header>
<h1>GreenWays</h1>
<h2><a href="/greenWays/new">New</a></h2>
</header>
<main>
{{#each greenWay}}
<a href="/greenWays/{{id}}" class="article">
<img>
<p>{{wayToBeGreenName}}</p>
<p>{{timeItTakes}}</p>
</a>
{{/each}}
</main>