    {{!-- form to create new greenWays --}}
    <header>
<form method="POST" action="/greenWays/">
    <p>Name of Green Method:</p><input type="text" name="wayToBeGreenName"></br>
    <p>Hours it Takes: </p><input type="number" name="timeItTakes"></br>
    <p>What to Do:</p><input type="text" name="whatToDo"></br>
    <input type="submit" value="Submit" class="button">
</form>
</header>