{{!-- shows all participants --}}
<header>
<h1>Participants</h1>
<h2><a href="/participants/new">Become a Pariticipant</a></h2>
</header>
<main class="mainArticle">
{{#each participant}}
<a href="/participants/{{id}}" class="article">
<img>
<p>Green Paricipant: {{name}}</p>
<p>Has been around the sun {{age}} times!</p>
<p>Green State: {{state}}</p>
</a>
{{/each}}
</main>