{{!-- shows all participants --}}
<header>
<h1>Participants</h1>
<h2><a href="/participants/new">Become a Pariticipant</a></h2>
</header>
<main>
{{#each participant}}
<a href="/participants/{{id}}" class="article">
<img>
<p>{{name}}</p>
<p>{{age}}</p>
<p>{{state}}</p>
</a>
{{/each}}
</main>