{{!-- form to create new participants --}}
<header>
<form method="POST" action="/participants/">
    <p>Name</p><input type="text" name="name"></br>
    <p>Age</p><input type="number" name="age"></br>
    <p>City</p><input type="text" name="city"></br>
    <p>State</p><input type="text" name="state"></br>
    <input type="submit" value="Submit" class="button">
</form>
</header>
