{{!-- home page --}}
<header>
<h1>Welcome</h1>
<p>This is a place to encourage people on their journey's to grow together and educate others on green methods to save and protect the environment.</p>
</header>
<main>
    
</main>