body {
    background-color: green;
    color: white;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
a {
    text-decoration: none;
    color: white;
}
nav > ul, footer {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav, .article, footer {
   border: solid white;
   border-radius: 1rem;
}
nav, footer {
    height: 7vh;
    position: fixed;
    width: 98vw;
}
nav {
    top:0;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9vh;
    height: 30vh;
    width: 95vw;
}
header > ul {
    /* margin-bottom: 5rem; */
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header > ul > li {
    display: flex;
    justify-content: center; 
}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    height: 57vh;
    margin-right: 2vw;
    margin-left: 2vw;
    
}
.article {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.mainArticle :hover {
    background: white;
    color: green;
}
footer {
    bottom: 0;
}
/* img {

} */