body {
    /* background-color: green; */
    color: white;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background:  rgba(5, 90, 5, 0.4) url("./images/beautiful-beauty-color-340932.jpg");
}
a {
    text-decoration: none;
    color: white;
}
nav > ul, footer {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav, .article, footer {
   
   border-radius: 1rem;
   background:  rgba(5, 90, 5, 0.4);
}
nav, footer {
    height: 7vh;
    position: fixed;
    width: 98vw;
    border: solid rgba(102, 119, 100, 0.4);
}
nav {
    top:0;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9vh;
    height: 30vh;
    width: 95vw;
    
}
header > ul, form {
    background:  rgba(5, 90, 5, 0.4);
    /* padding-right: 3rem; */
    border-radius: 2rem;
    /* margin-bottom: 5rem; */
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header > ul > li {
    display: flex;
    justify-content: center; 
}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    height: 57vh;
    margin-right: 2vw;
    margin-left: 2vw;
}

.article {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid rgb(102, 119, 100);
}
.mainArticle :hover {
    color: rgba(131, 238, 131, 0.767);
}
footer {
    bottom: 0;
}
img {
background: url("./images/botanical-close-up-color-788485.jpg") center;
height: 6rem;
width: 6rem;
border: solid rgba(102, 119, 100, 0.4);
border-radius: 3rem;
}