{{!-- shows all saveTips --}}
<header>
<h1>Saving Tips</h1>
<h2><a href="/saveTips/new">Add a New Saving Tip</a><h2>
</header>
<main>
{{#each saveTip}}
<a href="/saveTips/{{id}}" class="article">
<img>
<p>{{wasteReducedName}}</p>
<p>{{monthlySavings}}</p>
<p>{{timeItTakes}}</p>
</a>
{{/each}}
</main>