{{!-- shows all saveTips --}}
<header>
<h1>Saving Tips</h1>
<h2><a href="/saveTips/new">Add a New Saving Tip</a><h2>
</header>
<main class="mainArticle">
{{#each saveTip}}
<a href="/saveTips/{{id}}" class="article">
<img>
<p>Green Saving Method: {{wasteReducedName}}</p>
<p>Green Savings: ${{monthlySavings}}</p>
<p>Green Hours: {{timeItTakes}}</p>
</a>
{{/each}}
</main>