    {{!-- form to create new saveTips --}}
<form method="POST" action="/saveTips/">
    <p>Waste Reduction Method Name:</p><input type="text" name="wasteReducedName"></br>
    <p>Monthly Savings:</p><input type="number" name="monthlySavings"></br>
    <p>Hours it Takes:</p><input type="number" name="timeItTakes"></br>
    <p>What to Do:</p><input type="text" name="whatToDo"></br>
    <input type="submit" value="Submit" class="button">
</form>
